/* You can add global styles to this file, and also import other style files */
.widget-container{
  height: 30px;
  border: solid 1px darkgray;
  border-radius: 2px;
  margin:.5rem 0;
  text-align:center;
}
